.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background: #020617;
  color: white;
}

.logo {
  font-size: 22px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #e5e7eb;
  font-weight: 500;
}

.nav-links a:hover {
  color: #38bdf8;
}
